[submodule "watsonar-backend-endpoints"]
	path = watsonar-backend-endpoints
	url = git@github.ibm.com:IGF-Americas/watsonar-backend-endpoints.git
[submodule "watsonar-front"]
	path = watsonar-front
	url = git@github.ibm.com:IGF-Americas/watsonar-front.git
